spotipy = "*"
requests = "*"
datetime = "*"
nodejs = "*"
flask = "*"
scipy = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
joblib = "*"
sklearn = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
spacy = "*"
category-encoders = "*"
feature-engine = "*"
gunicorn = "*"
